@page
@model Tickets.Web.Pages.Account.AccessDeniedModel
@{
}
<form class="mx-auto" style="width:1100px;">
    <div>
        <label class="text text-bold text-danger"><h1 class="alert alert-danger" > Access Denied!</h1><h4>Sorry! You Don't Have Access To this Page!</h4> </label>
    </div>
    <a asp-page="../Index" class="btn btn-outline-info">Home Page</a>
</form>
